* {
    box-sizing: border-box;
}

.back-btn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

div {
    padding: 1%;
}

body {
    margin: 0;
}

iframe {
    width: 100%;
    height: 85vh;
    border: none;
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}