.summary-link {
    font-size: 12pt;
    text-decoration: none;
    color: blue;
}

fieldset {
    padding: auto;
    margin: auto;
    width: 80%;
    max-width: 600px;
}

.form {
    color: rgb(32, 33, 36);
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}

.bar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.tbar {
    padding-bottom: 12px;
    font-size: 24pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    color: rgb(32, 33, 36);
    line-height: 135%;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.header {
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    padding-bottom: 16px;
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#rentFrame {
    border: 0;
    max-height: 100%;
    position: absolute;
}

.frameDiv {
    position: relative;
    padding-bottom: 65px;
}

.content {
    margin: auto;
    max-width: 90vw;
    width: 640px;
}

.btn-primary {
    width: 100%;
    min-height: 50px;
}

.btn-secondary {
    width: 10%;
    min-height: 10px;
}

textarea {
    width: 100%;
}

body {
    background-color: #f0ebf8;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 0;
}